.frame {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
}
.frame .main_frame {
  position: relative;
  width: 1440px;
  height: 1312px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
  background: #e5e5e5;
}

 /* LEFT_FRAME  */
.main_frame .left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.main_frame .left_frame .left_1 {
  position: relative;
  width: 228px;
  height: 253px;
  margin-left: 47px;
  margin-top: 47px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left_1-1 {
  position: relative;
  width: 156.16px;
  height: 135.05px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left_1-2 {
  position: relative;
  width: 64px;
  height: 20.85px;
  margin: 10px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  color: #2b2b2b;
}
.left_1-3 {
  position: relative;
  width: 147.84px;
  height: 24.31px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
}
.left_1-icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 228px;
  height: 22px;
}
.link_href {
  text-decoration: none;
  color: black;
}
.icon {
  position: relative;
  width: 24.99px;
  height: 21.61px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0 4px 4px rgb(9, 9, 9));
  background: #ffb400;
}
.icon-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  width: 14px;
}
.marginer {
  position: relative;
  width: 220px;
  height: 0px;
  margin-left: 47px;
  margin-top: 39px;
  margin-bottom: 25px;
  border: 1.5px solid #343334;
}
.left_2 {
  position: relative;
  width: 221px;
  height: 126px;
  margin-left: 47px;
  margin-right: 37px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.left_2-item {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left_2-item-label {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #2b2b2b;
  background-color: #ffb400;
}
.left_2-item-value {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: right;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #2b2b2b;
}
.main_frame .left_frame .left_3 {
  position: relative;
  width: 220px;
  height: 153px;
  left: 47px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.left_3-item {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left_3-item-languages {
  position: relative;
  width: 95px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2b2b2b;
  margin-bottom: 10px;
}
.left_3-item-border {
  position: relative;
  width: 210px;
  height: 3px;
  border-radius: 10px;
  border: 2px solid #e1b754;
  background-color: #fff;
  padding: 1px 0px 1px 0px;
}
.left_3-item-border_inside {
  position: relative;
  width: 210px;
  height: 3px;
  background: #ffb400;
  border-radius: 10px;
}
.left_3-item-border_inside-2 {
  position: relative;
  width: 170px;
  height: 3px;
  background: #ffb400;
  border-radius: 10px;
}
.left_3-item-border_inside-3 {
  position: relative;
  width: 120px;
  height: 3px;
  background: #ffb400;
  border-radius: 10px;
}
.left_3-item-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
}
.main_frame .left_frame .left_4 {
  position: relative;
  width: 220px;
  height: 242px;
  left: 47px;
}
.left_3-item-border_inside-4 {
  position: relative;
  width: 160px;
  height: 3px;
  background: #ffb400;
  border-radius: 10px;
}
.left_3-item-border_inside-5 {
  position: relative;
  width: 180px;
  height: 3px;
  background: #ffb400;
  border-radius: 10px;
}
.left_3-item-border_inside-6 {
  position: relative;
  width: 200px;
  height: 3px;
  background: #ffb400;
  border-radius: 10px;
}
.main_frame .left_frame .left_5 {
  position: relative;
  width: 186px;
  height: 148px;
  left: 47px;
}
.left_5-item {
  display: flex;
  gap: 15px;
  bottom: 10px;
}
/* END LEFT FRAME  */

/* MIDD FRAME */
.main_frame .midd_frame {
  position: relative;
  width: 970px;
  height: 1259px;
  margin-left: 30px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
}
.midd_frame-1 {
  position: relative;
  width: 950px;
  height: 454.33px;
  background: #ffffff;
  display: flex;
}
.round_yellow {
  position: absolute;
  top: 40px;
  left: 35px;
  z-index: 999;
}
.round_yellow-2 {
  position: absolute;
  top: 381px;
  left: 510px;
  z-index: 999;
}
.round_green {
  position: absolute;
  top: 65px;
  left: 450px;
  z-index: 999;
}
.round_green-2 {
  position: absolute;
  top: 430px;
  left: 80px;
  z-index: 999;
}
.rectangle_yellow {
  position: absolute;
  top: 60px;
  left: 860px;
  z-index: 999;
}
.rectangle_blue {
  position: absolute;
  width: 16.02px;
  height: 15.57px;
  box-sizing: border-box;
  border: 2px solid white;
  top: 340px;
  left: 350px;
  z-index: 999;
}
.rectangle_red {
  position: absolute;
  width: 16.02px;
  height: 15.57px;
  box-sizing: border-box;
  border: 2px solid white;
  left: 900px;
  top: 420px;
  z-index: 999;
}
.midd_frame-left-text {
  position: relative;
  width: 499.51px;
  height: 116.74px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 123.6%;
  color: #2b2b2b;
  margin-top: 99.15px;
  margin-left: 56px;
  margin-right: 27.71px;
  margin-bottom: 17px;
}
.midd_frame_text {
  position: relative;
  width: 424.44px;
  height: 85.61px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
  margin-left: 56px;
  margin-bottom: 33px;
}
.midd_frame-btn {
  border: 2px solid greenyellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 16px;
  gap: 10px;
  width: 154px;
  height: 40px;
  background: #53514e;
  border-radius: 5px;
  margin-left: 56px;
}

.midd_frame-btn h1 {
  position: relative;
  width: 80px;
  height: 19px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 5px;
}
.midd_frame-btn-img {
  margin-bottom: 5px;
}
.midd_frame-right {
  position: relative;
  width: 326.06px;
  height: 446.63px;
  margin-right: 30px;
}
.midd_frame-2 {
  position: relative;
  width: 970px;
  height: 653px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}
.midd_frame-2-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.midd_frame-2-h {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2b2b2b;
}
.midd_frame-2-p {
  width: 438px;
  height: 68px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  margin-top: 50px;
  justify-content: center;
}
.card {
  width: 310px;
  height: 225px;
  background-color: #ffffff;
  display: flex;
  gap: 20px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.card_text {
  width: 158px;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2b2b2b;
  text-align: center;
}
.card_text-2 {
  width: 200px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  font-feature-settings: "calt" off, "kern" off;
  color: #767676;
}
/* END MIDD FRAME  */
/* RIGHT FRAME  */
.right_frame {
  position: relative;
  width: 150px;
  height: 1315px;
  display: flex;
  background-color: white;
  align-items: center;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}
.point {
  position: relative;
  margin-top: 50px;
  margin-bottom: 200px;
}
.right_frame-icons {
  position: relative;
  width: 65px;
  height: 493px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.right_frame_icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #a1a1a9;
}
.right_frame_icon:hover {
  scale: 1.2;
  background: #ffb400;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* END RIGHT FRAME  */